.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  opacity: 1;
}

.hamburgerline {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: black;
  transition: opacity 0.4s;
}
.hamburgerActive {
  opacity: 0.5;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}
